body {
	padding-top: 60px;
	padding-bottom: 40px;
}

.navbar-inner {
	padding: 4px;
}

.sidebar-nav {
	padding: 9px 9;
}

.hero-unit {
	padding: 30px;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.post img {
	float: right;
}
